.App {
}

.App-header {
  background-color: #282c34;
  color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.App-main {
  display: block;
  width: 90%;
  margin: auto;
  height: 100%;
  /* background-color: blue; */
}

.screen {
  /* height: 500px; */
}

.bubble {
  padding: 1%;
  border-radius: 10px;
  background-color: whitesmoke;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 98%;
  border: none;
}

input {
  font-size: 12pt;
}

form {
  margin-top: 10px;
}

hr {
  border: solid 0.2px #282c34;
  width: calc(100%);
}

button {
  text-align: left;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

.red {
  color: red;
}
