.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.App-main {
  display: block;
  width: 90%;
  margin: auto;
}

.bubble {
  padding: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  margin-bottom: 10px;
  max-width: 350px;
  min-width: 350px;
}
